* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: green;
    padding: 20px;
}

nav {
    background-color: lime;
    display: grid;
    place-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in;
}

nav ul a:hover {
    background-color: green;
    color: white;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}

.item img:hover {
    transform: scale(1.04);
}

.item h4 {
    padding: 5px;
    text-align: center;
}

.item button {
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: skyblue;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}

.item button:hover {
    transform: scale(1.08);
}

@media screen and (max-width: 1000px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
}

h1 {
    color: #333;
    margin-bottom: 60px;
}

iframe {
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 50px;
    text-align: center;
}

body {
  background-color: grey;
}





h1 {
  color: white;
  padding-top: 10px;
  text-align: center;
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
}

input {
  background-color: white;
  width: 70%;
  margin-left: 15%;
  font-size: 20px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid black; 
  margin-bottom: 20px; 
}

textarea {
  background-color: white;
  width: 70%;
  margin-left: 15%; 
  font-size: 20px;
  padding: 16px;
  border-radius: 10px;
  border: black; 
  margin-bottom: 25px; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #5bd183;
  border-width: 3px;
}

button {
  background-color: #5bd183;
  border-radius: 20px; 
  border color: 1px solid black; 
  font-size: 22px;
  padding: 10px 18px; 
  text-align: center; 
  display: flex;
  margin: auto;
  
}

button:hover {
  opacity: 0.8; 
  cursor:pointer;
}

h1{
  color: white;
  padding-top: 10px;
  text-align: center;
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;





}
.footer {
    background-color:  white;
    text-align: center;
}

{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}
